<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
<link rel="stylesheet" href="/addItem.css">
</head>
<body>
	<a href="/showItem">商品一覧に戻る</a>
	<h1 style="text-align: center">商品登録</h1>
	<p style="text-align: center">
		<span th:text="${message}" style="color: red"></span>
	</p>
	<form action="/addItem" method="post">
		<table>
			<tr>
				<td>商品名</td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td>カテゴリ</td>
				<td><input type="text" name="categoryKey" /></td>
			</tr>
			<tr>
				<td>値段</td>
				<td><input type="text" name="price" /></td>
			</tr>
			<tr>
				<td>数量</td>
				<td><input type="text" name="stock" /></td>
			</tr>
			<tr>
				<td>配達日数</td>
				<td><input type="text" name="delivaryDays" /></td>
			</tr>
			<tr>
				<td>画像</td>
				<td><input type="text" name="picture" /></td>
			</tr>
		</table>
		<br> <input type="submit" value="商品を登録する" />
	</form>

</body>
</html>