<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
</head>
<body>
	<h2>商品登録</h2>
	<span th:text="${message}" style="color: red"></span>
	<form action="/addItem" method="post">
		<table>
			<tr>
				<td>商品名</td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td>カテゴリ</td>
				<td><input type="text" name="categoryKey" /></td>
			</tr>
			<tr>
				<td>値段</td>
				<td><input type="text" name="price" /></td>
			</tr>
			<tr>
				<td>数量</td>
				<td><input type="text" name="stock" /></td>
			</tr>
						<tr>
				<td>配達日数</td>
				<td><input type="text" name="delivaryDays" /></td>
			</tr>
			<tr>
				<td>画像</td>
				<td><input type="text" name="picture" /></td>
			</tr>
		</table>
		<br> <input type="submit" value="商品を登録する" />
	</form>

</body>
</html>