<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文画面</title>
<link rel="stylesheet" href="/confirmCart.css">
</head>
<body>
	<span th:replace="menu"></span>

	<form action="/order/doOrder" method="post">
		<table>
			<tr>
				<td>お名前</td>
				<td th:text="${session.userInfo.name}"></td>
			</tr>
			<tr>
				<td>住所</td>
				<td th:text="${session.userInfo.address}"></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td th:text="${session.userInfo.tel}"></td>
			</tr>
			<tr>
				<td>e-mail</td>
				<td th:text="${session.userInfo.email}"></td>
			</tr>
		</table>

		<input type="submit" value="この内容で注文">

	</form>
</body>
</html>