<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品の更新</title>
<link rel="stylesheet" href="/editItem.css">
</head>
<body>
	<h1 style="text-align: center">登録商品の更新</h1>

	<p style="text-align:center"><span th:text="${message}" style="color: red;"></span></p>

	<form th:action="'/addItemResult/' + ${item.code}" method="post" onsubmit="return chk01(event);">
		<table border="1">
			<tr>
			<tr>
				<th>画像</th>
				<td><input type="text" name="picture"
					th:value="${item.picture}"></td>
			</tr>
			<tr>
				<th>商品名</th>
				<td><input type="text" name="name" th:value="${item.name}"></td>
			</tr>
			<tr>
				<th>カテゴリ</th>
				<td><input type="text" name=categoryKey
					th:value="${item.categoryKey}" id="categoryKey"></td>
			</tr>
			<tr>
				<th>値段</th>
				<td><input type="text" name="price" th:value="${item.price}"  id="price"></td>
			</tr>
			<tr>
				<th>在庫数</th>
				<td><input type="text" name="stock" th:value="${item.stock}" id="stock"></td>
			</tr>
			<tr>
				<th>配達日数</th>
				<td><input type="text" name="delivaryDays"
					th:value="${item.delivaryDays}" id="delivaryDays"></td>
			</tr>
		</table>
		<br> <input type="submit" value="更新を確定する">
	</form>

	<script type="text/javascript">
		function chk01(e) {
			let categoryKey = document.getElementById("categoryKey");
			let price = document.getElementById("price");
			let stock = document.getElementById("stock");
			let delivaryDays = document.getElementById("delivaryDays");

			let reg = new RegExp(/^[0-9]+$/);
			if (reg.test(categoryKey.value) && reg.test(stock.value)
					&& reg.test(price.value) && reg.test(delivaryDays.value)) {
				return true;
			} else {
				window.alert("数値で入力してください");
				return false;
			}
		}
	</script>
</body>
</html>