<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="./login.css">
</head>
<body>
<a href="/">戻る</a>
	<h1 style="text-align:center">ログイン</h1>
	<!-- エラーメッセ -->
	<p style="text-align:center"><span th:text="${message}" style="color: red"></span></p>

	<form action="/login" method="post">
		<table>
			<tr>
				<td>名 前</td>
				<td>
					<input type="text" name="name" />
				</td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td>
					<input type="text" name="pass" />
				</td>
			</tr>
		
		</table>
		
		<input type="submit" value="ログイン" />
	</form>
</body>
</html>