<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>悪徳サイト</title>
<link rel="stylesheet" href="/money.css">
</head>
<body>

	<div class="box">
		<img src="keiba.jpg">
		<p class="top-left">競馬は生き甲斐</p>
		<p class="top-left1">借金を全部返せました</p>
		<p class="top-left2">3連単100万越え連発！！</p>
		<p class="top-left3">競馬は生き甲斐</p>
		<p class="top-left4">借金を全部返せました</p>
		<p class="top-left5">先週の払い戻し50万越え！！</p>
		<p class="top-left6">凶も勝てました。ありがとうございます</p>
		<p class="top-left7">絶対勝てる</p>
		<p class="top-right">このサイトに救われました</p>
		<p class="bottom-left">競馬をするならこれ一択</p>
		<p class="bottom-right">絶対勝てる</p>
		<p class="center">私は競馬で生活しています</p>
	</div>

	<script type="text/javascript">

setTimeout(() => {
	
	window.location.href = '/login';
}, 5000); 
	
</script>
</body>
</html>