<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link rel="stylesheet" href="newAccount.css">
</head>
<body>
	<a href="/login">ログイン画面に進む</a>

	<h1 style="text-align:center">新規登録</h1>
	<p style="text-align:center"><span th:text="${message}" style="color: red"></span></p>
	<form action=/newAccount method="post">
		<table>
			<tr>
				<td>お名前</td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td>住所</td>
				<td><input type="text" name="address" /></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td><input type="text" name="tel" /></td>
			</tr>
			<tr>
				<td>e-mail</td>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td><input type="text" name="pass" /></td>
			</tr>
		</table>
		<br> <input type="submit" value="送信" />
	</form>

</body>
</html>